<super-tabs #SuperTabs [selectedTabIndex]="myIndex" [config]="{ sideMenu: 'left' }" tabsPlacement="bottom" indicatorColor="none">
  <super-tab icon="dealcentive-featured" title="Featured" [root]="tab1" id="0"></super-tab>
  <super-tab icon="dealcentive-search" title="Search" [root]="tab2" id="1"></super-tab>
  <super-tab icon="dealcentive-notifications" title="Notifications" [root]="tab3"></super-tab>
  <super-tab icon="dealcentive-saved" title="Saved" [root]="tab4"></super-tab>
  <super-tab icon="menu" title="More" [root]="tab5"></super-tab>
</super-tabs>