page-confirmation-code {
    .auth-header {
        //height: 10vh;
        //min-height: 10vh;
        color: #000;
        text-align: center;
        margin-top: 100px;
    }

    .auth-content ion-item, .auth-content .item-inner {
        padding: 0 !important;
    }
    .auth-content ion-item input {
        margin: 0 !important;
        text-align: center;
        border: none !important;
    }

    .auth-content .col {
        padding-top: 0;
        padding-bottom: 0;
        .item-inner{
            border: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid #9a9eaa !important; 
        }
        ion-input{
            text-align: center;
        }
    }
    .scroll-content{
        background-color: #fff !important;
    }
}
